.container{
  margin: 0 auto;
  width:720px;

}
.triangle .col-3 {
  text-align: center;
  margin: 0 auto;
  background-color: #fff;
}

.card {
  border: 0;
}

h1{
  font-family: 'Oswald', sans-serif;
}
